.Header{
    max-width: 1680px;
    min-width: 1080px;

    display: flex;
    justify-content: space-between;

    height: 77px;
    margin: auto;
    .leftMenu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            display: inherit;
            padding-left: 46px;
            h1{
                padding-left: 15px;
                font-size: 1.65em;
            }
        }
        .Toolbar{
            display: inherit;
            padding-left: 35px;
            p{
                margin: 0;
                padding: 15px;
                font-size: 1.1em;
            }
        }
    }
    .AuthBar{
        min-width: 291px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2px;
        padding-right: 106px;
    }
}