.PopupWrapperLayout{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    max-width: 100%;
    height: 100vh;
    margin-left: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    background: hsla(189, 100%, 50%, 0.1);
    .PopupWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 20px;

        border: 1px solid  hsl(188deg, 7%, 36%);
        background: white;
        .popupHeadName{
            margin: 0 0 20px;
            font-size: 2em;
        }
        .popupButtonForm{
            max-width: 500px;
            display: flex;
            justify-content: space-around;
            button{
                margin: 10px;
            }
        }

    }
}