@font-face {
    font-family: 'PressStart2P';
    src: local('PressStart2P'), url('PressStart2P-Regular.eot');
    src: local('PressStart2P'), url('PressStart2P-Regular.eot?#iefix') format('embedded-opentype'),
    url('PressStart2P-Regular.woff') format('woff'),
    url('PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish-Extra-Bold';
    src: local('Mulish-Extra-Bold'),
    url('Mulish-Bold.woff2') format('woff2'),
    url('Mulish-Bold.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'Mulish-Regular';
    src: local('Mulish-Regular'),
    url('Mulish-Regular.ttf') format('truetype'),
    url('Mulish-Regular.woff2') format('woff2'),
    url('Mulish-Regular.woff') format('woff');
    font-style: normal;
}