.Home{
  .About{
    height: 70vh;
    display: flex;
    padding-top: 85px;
    .titleGirl{
      margin-left: -85px;
    }
    .AboutContent{
      width: 900px;
      h1{
        margin-top: 24px;
        margin-left: -90px;
        font-size: 72px;
        color: #00B8D4;
        letter-spacing: -0.022em;
      }
      p{
        padding-top: 37px;
        padding-left: 43px;
        width: 745px;
        line-height: 40px;
        font-size: 28px;
      }
    }
  }
}