.Home{
  h2{
    font-size: 48px;
    margin: 0;
  }
  h3{
    font-size: 28px;
  }
  p{
    font-size: 28px;
  }
  .About{
    min-height: 660px;
    height: 70vh;
    display: flex;
    padding-top: 85px;
    .titleGirl{
      margin-left: -85px;
    }
    .AboutContent{
      width: 900px;
      h1{
        margin-top: 24px;
        margin-left: -90px;
        font-size: 72px;
        color: #00B8D4;
        letter-spacing: -0.022em;
      }
      p{
        font-family: 'Mulish-Extra-Bold', sans-serif;
        padding-top: 37px;
        padding-left: 43px;
        width: 745px;
        line-height: 40px;
        font-size: 28px;
      }
    }
  }
  .keepKptDiary{
    width: 1400px;
    min-height: 680px;
    height: 78vh;
    padding-top: 90px;
    margin-top: 90px;
    display: flex;
    .keepKptDiaryText{
      width: 840px;
      height: 740px;
    }
  }
  .FillingOutTheDiary{
    width: 1510px;
    padding-top: 60px;
    margin-top: 60px;
    h2{
      text-align: center;
    }
    .FillingOutTheDiaryText{
      height: 540px;
      padding: 80px 0 80px 0;
      display: flex;
      justify-content: space-between;
      div{
        p{
          width: 650px;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  .WhyKeepDiary{
    width: 1360px;
    padding: 200px 0 160px;
    margin-top: 160px;
    display: flex;
    .WhyKeepDiaryText{
      width: 800px;
      padding-right: 100px;
    }
  }
  .infoProject{
    width: 80vw;
    margin: 330px 0 200px;
    height: 340px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, rgba(0, 100, 152, 0.1) 0%, rgba(0, 184, 212, 0.1) 100%);
  }
}