.Header{
    width: 87.5%;
    display: flex;
    justify-content: space-between;
    .leftMenu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            min-width: 150px;
            display: inherit;
            padding-left: 45px;
            h1{
                padding-left: 15px;
                font-family: 'PressStart2P', sans-serif;
                font-size: 1.65em;
                text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                color: #0089B2;
            }
        }
        .Toolbar{
            display: inherit;
            padding-left: 30px;
            p{
                padding: 15px;
                font-size: 1.1em;
                color: hsla(188, 7%, 36%, 1)
            }
        }
    }
    .AuthBar{
        min-width: 291px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 105px;
        padding-bottom: 2px;
    }
}