.TriangleLayout{
    min-height: 5vh;
    height: 100px;
    p{
        margin: 5px;
    }
    .Triangle{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        width: 102px;
        border-top: 2px solid #00B8D4;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        .TriangleButton{
            margin: -36px 15px;
            width: 70px;
            height: 70px;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            border-right: 2px solid #00B8D4;
            border-bottom: 2px solid #00B8D4;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

